.bg-login {
  background: url("https://instagram.fsdu13-1.fna.fbcdn.net/v/t39.30808-6/445002911_18016040018340860_4885184730212701909_n.jpg?stp=dst-jpg_e35&efg=eyJ2ZW5jb2RlX3RhZyI6ImltYWdlX3VybGdlbi4xNDQweDE0NDAuc2RyLmYzMDgwOC5kZWZhdWx0X2ltYWdlIn0&_nc_ht=instagram.fsdu13-1.fna.fbcdn.net&_nc_cat=108&_nc_ohc=0_3hUJvpKowQ7kNvgEoQk7W&_nc_gid=cc65f14ddd0d41a39f79fc2ea2e693e5&edm=APoiHPcAAAAA&ccb=7-5&ig_cache_key=MzM3ODg3MTgxMzM5OTEyMzQzMA%3D%3D.3-ccb7-5&oh=00_AYCIL0J8rS1ktXpgRVcBhrXcxFEU3pLZsonOkCPJ9k56QA&oe=66FCD221&_nc_sid=22de04") no-repeat center
    center;
  background: url("../../../public/assets/img/bglogin-alt.jpg")
    no-repeat center center;
  background-size: cover;
}

.fade-in {
  opacity: 0;
  transform: translateY(3rem);
  animation: fadeInUp ease 0.5s forwards;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
